body {
    background-color: #121212;
    color: white;
    font-family: "Roboto", sans-serif;
}





.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

div {
    text-align: justify;
    text-justify: inter-word;
}



a {
    color: powderblue;
}


.box {
    display: flex;
    align-items: center;
    margin-left: 40%;
}

.box img {
    width: 15%;
    border-radius: 50%;
}

.box span {
    margin-left: 20px;
    
}
